#contactform .form-floating input {
    min-width: 420px;
    /* border: 1px solid var(--color-secondary); */
}

.card-contact {
    max-width: 800px;
    max-height: 600px;
    box-shadow: 0px 0px 10px 0px var(--color-gray-light);
    /* border: 2px solid var(--color-secondary); */
    background-color: #ffffffdb;
    overflow-y: auto;
}

.box-select-inv .select2-container {
    width: 100% !important;
}

.title-contact {
    text-shadow: 1px 1px 1px var(--color-dark);
}

.box-select-inv .select2-container .selection .select2-selection.select2-selection--single {
    height: 58px;
    border: 1px solid var(--color-secondary);
}

.box-select-inv .select2-container .selection #select2-team-container,
.box-select-inv .select2-container .selection .select2-selection__arrow {
    height: 58px;
    display: flex;
    align-items: center;
}

/* #box-obs textarea {
    border: 1px solid var(--color-secondary);
} */

.card-contact {
    max-width: 600px;
    max-height: 510px;
    overflow-y: auto;
}