.badge-p {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-event .box-img {
    display: flex;
    max-height: 250px;
    height: 250px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.card-event, .card-activity {
  max-height: 600px;
  overflow-y: auto;
}

.site-cl .title-detalle-event {
  font-family: var(--font-primary);
  color: var(--color-dark);
}

.site-cl .table-light th {
  min-width: 100px;
}